<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data1.mdf;Initial Catalog=Data1;Integrated Security=True" />
    <add name="ADO_Project_Final.Properties.Settings.Data1ConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data1.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>